{% extends "base.njk" %}

{% block pageHeader %}
{% endblock pageHeader %}

{% block content %}

<div class="hero-slider">
    {% for banner in banners %}
    <div class="single-slide" style="background-image: url({{ banner.background }});">
    <div class="inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="slide-content">
              <h2>{{ banner.headline }}</h2>
              <p>
                {{ banner.blurb }}
              </p>
              <div class="slide-btn">
                <a href="{{ banner.link.url }}" class="button">{{ banner.link.text }}</a>
                <a href="#" class="button-2">Live Preview</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    {% endfor %}
</div>

<div class="service-area bg1 sp">
  <div class="container">
    <div class="section-title white">
      <h2>{{ services.title }}</h2>
      <p>
        {{ services.description }}
      </p>
    </div>
    <div class="row">
    {% for service in collections.services %}
      <div class="col-lg-4 col-md-6 single-service-3">
        <div class="inner">
          <div class="title">
            <div class="icon">
              <i class="fa fa-{{ service.data.faIcon }}"></i>
            </div>
            <h4>{{ service.data.title }}</h4>
          </div>
          <div class="content">
            <p>{{ service.data.description }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
<div class="about-area sp">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="about-content">
          <h3>
           {{ about.title }}
          </h3>
          <p>
            {{ about.description }}
          </p>
          <a href="{{ about.link.url }}" class="button">{{ about.link.text }}</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-img">
          <img src="{{ about.image }}" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="brand-area">
  <div class="container">
    <div class="row">
    {% for brand in collections.brands %}
        <div class="col-md-3 col-6 single-brand">
            <div class="inner">
            <a href="{{ brand.data.url }}">
                <img src="{{ brand.data.image }}" alt="{{ brand.data.name }}" />
            </a>
            </div>
        </div>
    {% endfor %}
    </div>
  </div>
</div>
<!-- Portfolio section -->
{# <div class="portfolio-area sp">
  <div class="container">
    <div class="section-title">
      <h2>Latest Work</h2>
      <p>
        Malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat
        vitae.
      </p>
    </div>
    <div class="row">
      <div class="single-portfolio col-md-4">
        <div class="inner">
          <div class="portfolio-img">
            <img src="assets/img/portfolio1.jpg" alt="portfolio-image" />
            <div class="hover-content">
              <div>
                <a href="#" class="button">View Case Study</a>
              </div>
            </div>
          </div>
          <div class="portfolio-content">
            <a href="#"><h3>The Back Chiropractor</h3></a>
            <span>Ceramics, Design</span>
          </div>
        </div>
      </div>
      <div class="single-portfolio col-md-4">
        <div class="inner">
          <div class="portfolio-img">
            <img src="assets/img/portfolio2.jpg" alt="portfolio-image" />
            <div class="hover-content">
              <div>
                <a href="#" class="button">View Case Study</a>
              </div>
            </div>
          </div>
          <div class="portfolio-content">
            <a href="#"><h3>The Back Chiropractor</h3></a>
            <span>Ceramics, Design</span>
          </div>
        </div>
      </div>
      <div class="single-portfolio col-md-4">
        <div class="inner">
          <div class="portfolio-img">
            <img src="assets/img/portfolio3.jpg" alt="portfolio-image" />
            <div class="hover-content">
              <div>
                <a href="#" class="button">View Case Study</a>
              </div>
            </div>
          </div>
          <div class="portfolio-content">
            <a href="#"><h3>The Back Chiropractor</h3></a>
            <span>Ceramics, Design</span>
          </div>
        </div>
      </div>
      <div class="single-portfolio col-md-4">
        <div class="inner">
          <div class="portfolio-img">
            <img src="assets/img/portfolio4.jpg" alt="portfolio-image" />
            <div class="hover-content">
              <div>
                <a href="#" class="button">View Case Study</a>
              </div>
            </div>
          </div>
          <div class="portfolio-content">
            <a href="#"><h3>The Back Chiropractor</h3></a>
            <span>Ceramics, Design</span>
          </div>
        </div>
      </div>
      <div class="single-portfolio col-md-4">
        <div class="inner">
          <div class="portfolio-img">
            <img src="assets/img/portfolio5.jpg" alt="portfolio-image" />
            <div class="hover-content">
              <div>
                <a href="#" class="button">View Case Study</a>
              </div>
            </div>
          </div>
          <div class="portfolio-content">
            <a href="#"><h3>The Back Chiropractor</h3></a>
            <span>Ceramics, Design</span>
          </div>
        </div>
      </div>
      <div class="single-portfolio col-md-4">
        <div class="inner">
          <div class="portfolio-img">
            <img src="assets/img/portfolio6.jpg" alt="portfolio-image" />
            <div class="hover-content">
              <div>
                <a href="#" class="button">View Case Study</a>
              </div>
            </div>
          </div>
          <div class="portfolio-content">
            <a href="#"><h3>The Back Chiropractor</h3></a>
            <span>Ceramics, Design</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center" data-margin="40px 0 0">
        <a href="#" class="button">More Works</a>
      </div>
    </div>
  </div>
</div> #}
<div class="testimonial-area spb">
  <div class="container">
    <div class="section-title">
      <h2>{{ testimonials.title }}</h2>
      <p>
        {{ testimonials.description }}
      </p>
    </div>
    <div class="testimonial-slider bordered">
      {% for testimonial in collections.testimonials %}
      <div class="single-slide">
        <div class="inner">
          <p>
            {{ testimonial.data.description }}
          </p>
          <div class="client-info">
            <div class="client-img">
              <img src="{{ testimonial.data.image }}" alt="client" />
            </div>
            <div class="client-data">
              <h4>{{ testimonial.data.name }}</h4>
              <span>{{ testimonial.data.moreInfo }}</span>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- FAQ -->
{# <div class="faq-area sp bg2">
  <div class="container">
    <div class="section-title">
      <h2>Frequently Asked Questions</h2>
      <p>
        Malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat
        vitae.
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="faq">
          <div class="single-item">
            <h4>Low Cost Advertising Available or Not?</h4>
            <div class="content">
              Pellentesque habitant morbi tristique senectus et netus et malesu
              ada fames and reply to all.
            </div>
          </div>
          <div class="single-item">
            <h4>What Is The Big R For Marketing Your Business?</h4>
            <div class="content">
              Pellentesque habitant morbi tristique senectus et netus et malesu
              ada fames and reply to all.
            </div>
          </div>
          <div class="single-item">
            <h4>Does Using Banner Stands Increase Trade Show Traffic?</h4>
            <div class="content">
              Pellentesque habitant morbi tristique senectus et netus et malesu
              ada fames and reply to all.
            </div>
          </div>
          <div class="single-item">
            <h4>How To Write Better Advertising Copy?</h4>
            <div class="content">
              Pellentesque habitant morbi tristique senectus et netus et malesu
              ada fames and reply to all.
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="faq-img text-center">
          <img src="assets/img/fag-img.png" alt="faq" />
        </div>
      </div>
    </div>
  </div>
</div> #}

{% endblock content %}